.container {
    width: 90%;
    position: relative;
    margin: 0 auto;
}

.grid {
    display: grid;
}

.grid-col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.center {
    text-align: center;
}

.tooltip::after {
    content: 'Test sadržaj';
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, 0.33);
    border-radius: 5px;
    padding: 15px 25px;
    position: absolute;
    top: -75px;
    right: 15px;
}

