.container {
    width: 90%;
    position: relative;
    margin: 0 auto;
}

.grid {
    display: grid;
}

.grid-col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.center {
    text-align: center;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.tooltip:hover::after {
    content: attr(data-info);
    display: block;
    position: absolute;
    top: -200px;
    right: -50px;
    font-size: 24px;
    background-color: var(--primary-color);
    font-weight: 700;
    color: #fff;
    height: 200px;
    width: 300px;
}
