footer {
    position: relative;
    background-color: var(--primary-color);
}

.footer_cta {
    padding-bottom: 15px;
}

.footer_cta_inner {
    justify-content: space-evenly;
}

.footer_cta_item {
    text-align: center;
    width: 30%;
    padding: 25px;
}

.footer_cta_item i {
    padding: 15px;
    border-radius: 50%;
    background-color: var(--accent-color);
    font-size: 28px;
    color: #fff;
    margin-bottom: 15px;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 2px 2px var(--accent-color);
}

.footer_cta_item i:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--accent-color);
    transform: scale(0.9);
    box-shadow: 0 2px 5px var(--accent-color);
}

.footer_cta_item p {
    color: #fff;
    padding-bottom: 0;
}

footer hr {
    border-color: rgba(255, 255, 255, 0.6);
}

.footer_info {
    padding: 50px 0;
}

.footer_info_inner {
    grid-template-columns: repeat(3, 33.33%);
}

.footer_info_inner h5 span {
    color: #fff;
}

.footer_info_inner h5 {
    padding-bottom: 20px;
}

.footer_info_inner p {
    color: #fff;
    padding-bottom: 20px;
}

.footer_info_contact a {
    color: #fff;
}

.footer_info_contact p i {
    font-size: 20px;
    padding-right: 7px;
    color: var(--accent-color);
}

.footer_info_contact p.footer_info_working-hours > strong {
    color: var(--accent-color);
    font-size: 18px;
}

.footer_info_contact p.footer_info_working-hours span span {
    padding-left: 7px;
} 

.footer_info_links ul {
    line-height: 1.8;
}

.footer_info_links ul ul {
    line-height: 1.6;
}

.footer_info_links ul, .footer_info_links ul ul {
    list-style-type: none;
}

.footer_info_links ul ul li a::before {
    content: '>';
    color: var(--accent-color);
    position: absolute;
    left: -15px;
}

.footer_info_links ul li {
    padding: 5px 0;
}

.footer_info_links ul li a {
    color: var(--accent-color);
    font-size: 18px;
    font-weight: 700;
    padding: 5px 0;
}

.footer_info_links ul li a, .footer_info_links ul ul li a {
    transition: all 0.5s ease-in-out;
    display: inline-block;
}

.footer_info_links ul li a:hover, .footer_info_links ul ul li a:hover {
    transform: scale(1.15);
}

.footer_info_links ul ul li a {
    color: #fff;
    margin-left: 30px;
    font-weight: 400;
    position: relative;
    font-size: 16px;
}

.footer_info_links:last-child hr {
    border-color: rgba(255, 255, 255, 0.1);
    display: block;
    position: relative;
    width: 80%;
    margin: 25px auto;
}

.footer_info_social {
    justify-content: center;
}

.footer_info_social p a {
    color: var(--accent-color);
    font-size: 32px;
    padding: 0 10px;
}

.footer_copyright {
    padding: 15px 0;
    background-color: #222;
}

.footer_copyright p {
    color: #f2f2f2;
    font-size: 14px;
    padding-bottom: 0;
}

.footer_copyright p a {
    color: var(--accent-color);
    font-weight: 700;
}

.footer_copyright_divider {
    position: relative;
}

.footer_copyright_divider_inner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.footer_copyright_divider_inner svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.footer_copyright_divider_inner .shape-fill {
    fill: #222222;
}
