@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:ital,wght@0,700;1,400&display=swap');

:root {
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
    --primary-color: #333;
    --accent-color: #77bd1e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-top: 70px;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
    color: var(--accent-color);
}

h1 {
    font-size: 48px;
    padding-bottom: 25px;
}

h2 {
    font-size: 36px;
    padding-bottom: 20px;
}

h3 {
    font-size: 28px;
    padding-bottom: 10px;
}

h4 {
    font-size: 24px;
    padding-bottom: 10px;
}

h5 {
    font-size: 18px;
    padding-bottom: 5px;
}

h6 {
    font-size: 14px;
    padding-bottom: 5px;
}

p {
    padding-bottom: 30px;
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.6;
    color: var(--primary-color);
}

a {
    text-decoration: none;
    font-family: var(--primary-font);
    font-size: 16px;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    font-family: var(--secondary-font);
    font-size: 16px;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 2px var(--primary-color);
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.button-accent {
    background-color: var(--accent-color);
}

.button-accent:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.button-accent-transparent {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.button-accent-transparent:hover {
    background-color: var(--accent-color);
    color: #fff;
}

.button-secondary {
    background-color: var(--primary-color);
}

.button-secondary:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.button-secondary-transparent {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.button-secondary-transparent:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.button i {
    font-size: 20px;
    padding-left: 7px;
}

.pocetna_hero-banner {
    background-image: url('https://cdn.shopify.com/s/files/1/0521/6754/0913/files/Pocetna_Hero-Banner_BG_1920x1080px.jpg?v=1612302144');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 704px;
    position: relative;
}


.pocetna_hero-banner::before {
    content: '';
    height: 256px;
    width: 1024px;
    display: block;
    background-color: var(--accent-color);
    position: absolute;
    right: -17px;
    top: -256px;
    transform: rotateZ(15deg) skewX(15deg);
}

.pocetna_hero-banner_container {
    padding: 0 50px;
}

.pocetna_hero-banner_inner {
    padding: 15% 30px;
}

.pocetna_hero-banner_inner h4 {
    color: #fff;
    background-color: var(--accent-color);
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.pocetna_hero-banner_inner h1 {
    color: var(--primary-color);
}

.pocetna_hero-banner_inner h1 span {
    color: var(--accent-color);
}

.pocetna_hero-banner_inner p {
    font-weight: 700;
}

.pocetna_hero-banner_buttons {
    margin-top: 15px;
}

.pocetna_hero-banner_buttons a:first-child {
    margin-right: 15px;
}

.hero-banner_cards {
    position: absolute;
    bottom: -225px;
    right: 0;
    left: 0;
}

.hero-banner_cards_inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero-banner_card {
    position: relative;
    width: 24vw;
    height: 350px;
    margin: 0 25px;
    padding: 25px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    z-index: 99;
    border-radius: 10px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 10px 20px var(--primary-color);
}

.hero-banner_card:hover {
    transform: scale(1.1);
    background-color: #f2f2f2;
    border: 2px solid var(--accent-color);
}

.hero-banner_card img {
    width: 128px;
    border-radius: 50%;
    margin-bottom: 25px;
}

.hero-banner_card h5 {
    font-size: 20px;
    margin-bottom: 15px;
}

.hero-banner_card a {
    background-color: var(--accent-color);
    padding: 16px;
    border-radius: 50%;
    position: absolute;
    bottom: -25px;
    left: calc(12vw - 25px);
    transition: all 0.25s ease-in-out;
}

.hero-banner_card a:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--accent-color);
}

.hero-banner_card a i {
    color: #fff;
    font-size: 18px;
}

.pocetna_benefits {
    background-color: var(--primary-color);
    padding-bottom: 75px;
}

.pocetna_benefits::before {
    content: "";
    width: 600px;
    height: 368px;
    right: 0;
    margin-top: -40px;
    background-color: var(--primary-color);
    display: block;
    transform: rotateZ(15deg) skewX(15deg) translateX(-25px) translateY(-65px);
    z-index: -1;
}

.pocetna_benefits_inner {
    padding-top: 50px;
}

.pocetna_benefits_info div {
    padding: 10px 30px;
}

.pocetna_benefits_info h2 {
    color: #fff;
}

.pocetna_benefits_info p {
    color: #fff;
}

.pocetna_benefits_cards {
    margin-top: 75px;
    margin-bottom: 50px;
    padding: 10px 30px;
}

.pocetna_benefits_cards_inner {
    justify-content: space-between;
}

.pocetna_benefits_card {
    text-align: center;
    padding: 25px 15px 0;
    border: 1px solid rgba(50, 168, 82, 0.6);
    border-radius: 3px;
    width: 18%;
    transition: all 0.25s ease-in-out;
}

.pocetna_benefits_card:hover {
    background-color: #555;
}

.pocetna_benefits_card img {
    width: 40%;
    margin-bottom: 20px;
}

.pocetna_benefits_card_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pocetna_benefits_card h5 {
    color: #fff;
    margin-bottom: 10px;
}

.pocetna_benefits_card p {
    color: #fff;
}

.pocetna_benefits div.center {
    margin-top: 75px;
}

.pocetna_benefits_bottom-divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.pocetna_benefits_bottom-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 75px;
}

.pocetna_benefits_bottom-divider .shape-fill {
    fill: #333333;
}

/** Za mobilne uređaje **/
@media (max-width: 767px) {
    .pocetna_benefits_bottom-divider svg {
        width: calc(100% + 1.3px);
        height: 100px;
    }
}

.pocetna_reviews {
    background-color: #fff;
    position: relative;
    padding: 75px 0 0;
}

.pocetna_reviews_inner {
    padding-top: 75px;
}

.pocetna_reviews_info {
    width: 50%;
    position: relative;
    margin: 0 auto;
}

.pocetna_reviews_info h5 {
    color: var(--primary-color);
    padding-bottom: 5px;
}

.pocetna_reviews_info h2 {
    margin-bottom: 25px;
}

.pocetna_reviews_info hr {
    width: 25%;
    display: block;
    position: relative;
    margin: 0 auto;
}

.pocetna_reviews_reviews {
    margin-top: 75px;
}

.pocetna_reviews_reviews_inner {
    grid-template-columns: 60% 40%;
}

.pocetna_reviews_cards {
    width: 60%;
    position: relative;
    margin: 0 auto;
    padding-bottom: 50px;
}

.pocetna_reviews_card {
    position: relative;
    background-color: var(--primary-color);
    border-radius: 15px;
    border-bottom-right-radius: 0;
    padding: 20px;
    padding-right: 60px;
    margin: 25px 0;
    box-shadow: 0 3px 10px var(--primary-color);
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.pocetna_reviews_card:hover {
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.33);
    transform: scale(1.05);
}

.pocetna_reviews_cards .card-right {
    margin-left: 50px;
}

.pocetna_reviews_card_stars span {
    color: #e6b819;
}

.pocetna_reviews_card p {
    color: #fff;
    font-size: 16px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.pocetna_reviews_card h4 {
    font-weight: 700;
}

.pocetna_reviews_card a {
    background-color: var(--accent-color);
    padding: 15px 25px;
    border-radius: 25px;
    border: 3px solid var(--accent-color);
    color: #fff;
    position: absolute;
    right: -75px;
    bottom: calc(50% - 25px);
    transition: all 0.5s ease-in-out;
}

.pocetna_reviews_card a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.pocetna_reviews_card a i {
    padding-left: 7px;
    font-size: 20px;
}

.pocetna_reviews_img {
    position: relative;
}

.pocetna_reviews_img img {
    height: 640px;
    position: absolute;
    bottom: 0;
}

.pocetna_reviews_view-all {
    background-color: var(--accent-color);
    height: 150px;
    justify-content: center;
    align-items: center;
}

.pocetna_stats_top-divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 9;
}

.pocetna_stats_top-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.pocetna_stats_top-divider .shape-fill {
    fill: var(--accent-color);
}

.pocetna_stats {
    position: relative;
    background-image: url("https://cdn.shopify.com/s/files/1/0521/6754/0913/files/Pocetna_Brojac_Pozadina_1920x1080px.jpg?v=1612302144");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 75px;
}

.pocetna_stats_bg-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.85);
}

.pocetna_stats_inner {
    padding: 50px 0;
}

.pocetna_stats_info {
    text-align: center;
    width: 50%;
    position: relative;
    margin: 0 auto;
}

.pocetna_stats_info h5 {
    color: #fff;
}

.pocetna_stats_info hr {
    display: block;
    width: 25%;
    position: relative;
    margin: 0 auto;
}

.pocetna_stats_counters {
    padding: 75px 0;
}

.pocetna_stats_counters_inner {
    justify-content: space-around;
    padding-top: 30px;
}

.pocetna_stats_counter {
    text-align: center;
    padding: 30px;
    width: 20%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(120, 189, 30, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.pocetna_stats_counter:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(120, 189, 30, 0.2);
}

.pocetna_stats_counter h2 {
    position: relative;
    display: inline-block;
    background-color: rgba(51, 51, 51, 1);
    border-radius: 25px;
    padding: 5px 25px;
    margin-bottom: 25px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.pocetna_stats_counter h2::after {
    content: '+';
    color: #fff;
    font-weight: 400;
    font-family: var(--primary-font);
    position: absolute;
    right: -20px;
    top: -15px;
}

.pocetna_stats_counter hr {
    display: block;
    width: 25%;
    border-width: 2px;
    position: relative;
    margin: 0 auto;
}

.pocetna_stats_counter p {
    color: #fff;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 0;
}

.stats_bottom-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.stats_bottom-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.stats_bottom-divider .shape-fill {
    fill: var(--primary-color);
}

/** Za mobilne uređaje **/
@media (max-width: 767px) {
    .stats_bottom-divider svg {
        width: calc(100% + 1.3px);
        height: 30px;
    }
}

/* KONTAKT - STRANICA */

.kontakt_hero-banner {
    position: relative;
    background-image: url("https://cdn.shopify.com/s/files/1/0521/6754/0913/files/Kontakt_Hero-Banner_BG_1920x1080px.jpg?v=1612382338");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.kontakt_hero-banner_overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.5);
}

.kontakt_hero-banner_inner {
    width: 50%;
    position: relative;
    margin: 0 auto;
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.kontakt_hero-banner_inner h1 {
    border: 3px solid #fff;
    padding: 15px 25px;
    display: inline-block;
    margin-bottom: 25px;
    background-color: rgba(51, 51, 51, 0.33);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.kontakt_hero-banner_inner p {
    color: #fff;
}

.kontakt_hero-banner_bottom-divider {
    position: relative;
}

.kontakt_hero-banner_bottom-divider_inner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.kontakt_hero-banner_bottom-divider_inner svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.kontakt_hero-banner_bottom-divider_inner .shape-fill {
    fill: #333333;
}

.kontakt_info {
    padding: 75px 0;
    background-color: var(--primary-color);
}

.kontakt_info_inner {
    grid-template-columns: 70% 30%;
}

.kontakt_info_cta {
    text-align: center;
}

.kontakt_info_cta > h3 {
    padding-bottom: 50px;
    color: #fff;
}

.kontakt_info_cta_inner {
    justify-content: space-evenly;
}

.kontakt_info_cta_item {
    padding: 25px;
    width: 30%;
    transition: all 0.5s ease-in-out;
}

.kontakt_info_cta_item:hover {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.33);
    cursor: pointer;
}

.kontakt_info_cta_item i {
    font-size: 32px;
    padding-bottom: 25px;
    color: var(--accent-color);
}

.kontakt_info_cta_item a {
    color: #fff;
    font-weight: 700;
    position: relative;
}

.kontakt_info_radno-vrijeme {
    padding-left: 50px;
}

.kontakt_info_radno-vrijeme h3 {
    color: #fff;
    padding-bottom: 50px;
}

.kontakt_info_radno-vrijeme h3, .kontakt_info_cta h3 {
    padding-bottom: 25px;
}

.kontakt_info_radno-vrijeme h3 i, .kontakt_info_cta h3 i {
    font-size: 38px;
    color: var(--accent-color);
    padding-right: 10px;
}

.kontakt_info_cta hr, .kontakt_info_radno-vrijeme hr {
    display: block;
    border-color: rgba(255, 255, 255, 0.2);
    width: 20%;
    position: relative;
    margin: 0 auto 30px;
}

.kontakt_info_radno-vrijeme p {
    color: #fff;
    padding-bottom: 15px;
    font-size: 18px;
}

.kontakt_info_radno-vrijeme p strong {
    color: var(--accent-color);
    padding-right: 10px;
}

.kontakt_form {
    padding: 0;
}

.kontakt_form_top-divider {
    position: relative;
}

.kontakt_form_top-divider_inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.kontakt_form_top-divider_inner svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.kontakt_form_top-divider_inner .shape-fill {
    fill: #333333;
}

.kontakt_form_wrapper {
    grid-template-columns: 40% 60%;
}

.kontakt_form_inner {
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    width: 100%;
}

.kontakt_form_info {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding-bottom: 30px;
}

form {
    width: 100%;
}

.kontakt_form_inner input, .kontakt_form_inner textarea {
    width: 100%;
}

.form-control {
    display: block;
    margin: 25px 0;
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
    color: var(--primary-color);
    font-size: 18px;
    font-family: var(--primary-font);
}

.form-control::placeholder {
    color: var(--accent-color);
    font-family: var(--primary-font);
    font-size: 18px;
}

.form-control:focus {
    outline: 2px dotted var(--accent-color);
    color: var(--primary-color);
    border: none;
}

.form-control:focus::placeholder {
    color: #fff;
}

.kontakt_form textarea {
    height: 150px;
}

.kontakt_form textarea::-webkit-scrollbar {
    width: 1em;
}

.kontakt_form textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #77bd1ed3;
}

.kontakt_form textarea::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  outline: 1px solid slategrey;
}

.kontakt_form_inner {
    padding: 75px 30px;
}

.kontakt_form_inner a {
    margin-top: 25px;
}

.kontakt_form .map_wrapper {
    width: 100%;
    height: 100%;
    z-index: -9;
    position: relative;
    box-shadow: 0 0 15px rgba(51, 51, 51, 0.77);
}

.kontakt_form .map_wrapper i {
    position: absolute;
    top: 42%;
    right: 47%;
    font-size: 48px;
    color: #ff0000;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    box-shadow: 3 2px 3px rgba(51, 51, 51, 0.2);
    z-index: 1;
}

.kontakt_form .map {
    width: 100%;
    height: 100%;
}

.kontakt_form_bottom-divider {
    position: relative;
}

.kontakt_form_bottom-divider_inner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.kontakt_form_bottom-divider_inner svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
    transform: rotateY(180deg);
}

.kontakt_form_bottom-divider_inner .shape-fill {
    fill: #333333;
}
